@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var item in Model.Items){
    <h1>@item.Name - @item.Description</h1>
}

<form method="post">
    <input type="text" name="name"> 
    <input type="text" name="description"> 
    <input type="submit" asp-page-handler="SubmitQueueMessage">
</form>

<br/>
<br/>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="submit" asp-page-handler="UploadFile"/>
</form>

<h1>Configs</h1>
<p>@Model.MySettings.Secret</p>
<p>@Model.MySettings.BackgroundColor</p>